---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import feteecole from '~/assets/images/feteecole.jpg';
import feteecole2 from '~/assets/images/feteecole2.jpg';

const metadata = {
  title: 'APEL Saint Joseph - Accueil',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">Bienvenue sur le site de l'APEL Saint Jospeh</Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/cpW5SSiDqys"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <Features2
    title="Qui sommes nous"
    subtitle="Une association de parents d’élèves appartenant à l’UNAPEL (Union Nationale des Associations de Parents d’ Elèves de l’Enseignement Libre) qui, forte de 800 000 familles, participe activement au débat éducatif pour faire entendre votre voix auprès des pouvoirs publics. <br/> <br/> L’Association représente l’ensemble des familles de Saint Joseph Chambéry. Elle est animée par un Conseil d’Administration composé d’une quinzaine de parents bénévoles, élus pour 3 ans, et renouvelé pour partie chaque année lors de l’Assemblée Générale."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:dark:bg-slate-800"></div>
    </Fragment>
  </Features2>

  <Stats
    tagline="L'APEL en quelques chiffres"
    stats={[
      { title: 'Adhérents à la rentrée 2022', amount: '991K' },
      { title: 'Apel en france ', amount: '5000 ' },
      { title: 'D’enfants scolarisés', amount: '2 Million' },
      { title: 'Parents bénévoles', amount: '+15K' },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:dark:bg-slate-800"></div>
    </Fragment>
  </Stats>

  <Features
    id="features"
    tagline="Nos missions"
    title="Quelles sont nos missions ?"
    subtitle="L'Apel agit et s'implique dans la vie de l'école. Nous avons la responsabilité de représenter les parents, au sein de l'établissement, comme auprès des responsables de l'institution scolaire et des pouvoirs publics."
    items={[
      {
        title: 'Représenter',
        description:
          '- Les parents au sein de la communauté éducative (OGEC, conseils d’établissement) <br>  - Les familles auprès de l’APEL</li></ul>',
        icon: 'tabler:users-group',
      },
      {
        title: 'Informer',
        description:
          'Informer sur les questions éducatives et scolaires (notamment par le magazine national Famille et Education)',
        icon: 'tabler:info-circle',
      },
      {
        title: 'Aider',
        description:
          ' - En finançant du matériel pédagogique ou ludique et des activités culturelles <br> - En contribuant au financement des voyages scolaire',
        icon: 'tabler:help-circle',
      },
      {
        title: 'Accueillir',
        description: 'Les familles lors des réunions de rentrée et lors des Portes ouvertes de l’Etablissement',
        icon: 'tabler:home',
      },
      {
        title: 'Animer',
        description: 'Animer la vie extra-scolaire par l’organisation d’événements et de la fête de l’école',
        icon: 'tabler:balloon',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Quelques exemples d'événements"
    items={[
      {
        title: "Spéctacles des éléves de l'école",
      },
      {
        title: 'Château gonflable',
      },
      {
        title: 'Jeux en bois',
      },
      {
        title: "Et bien d'autres animations",
      },
    ]}
    image={{
      src: feteecole,
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h5 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Fête de l'école 2023</h5>
       Organiser par l'APEL le 24 Juin 2023 dans la cours de l'école il à permis au parents de partager un moment
      convivial avec les enfants. De nombreuses activités était propser :
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:dark:bg-slate-800"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Vente de sapin',
      },
      {
        title: 'Galette des rois',
      },
      {
        title: 'Fête de Saint Joseph',
      },
      {
        title: 'Braderie',
      },
    ]}
    image={{
      src: feteecole2,
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">De nombreux autres événement ont rythmés l'année :</Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    tagline="L'année 2022 / 2023 en chiffres"
    stats={[
      { title: 'Evenements', amount: '13' },
      { title: 'Tablier vendus', amount: '188' },
      { title: 'Reversés pour le voyage scolaire des CM1 CM2', amount: '1 720€' },
      { title: 'Récoltés', amount: '3 680€' },
    ]}
  />
  <Steps
    title="A vos agenda"
    items={[
      {
        title: '<em>Jeudi 5 Octobre 2023</em>',
        description: "Assemblé générale de l'APEL, éléction du nouveau bureau et récapitulatif de l'année 2022 / 2023",
        icon: 'tabler:users-group',
      },
      {
        title: '<em> Lundi 16 Octobre 2023 </em>',
        description: "Première reunion de l'assemblé pour définir les actions de l'année 2023 / 2024",
        icon: 'tabler:users-group',
      },
      {
        title: '<em> A venir </em>',
        description: 'Les futurs événements arrive bientôt',
        icon: 'tabler:calendar',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Membres du bureau de l'APEL"
    tagline="Le bureau"
    items={[
      {
        title: 'Présidente',
        description: 'Laurie Martin',
        icon: 'flat-color-icons:businesswoman',
      },
      {
        title: 'Président Adjoint',
        description: 'Adrien Bail',
        icon: 'flat-color-icons:businessman',
      },
      {
        title: 'Trésorier',
        description: 'Pierre Antoine Davanne',
        icon: 'flat-color-icons:sales-performance',
      },
      {
        title: 'Trésorier Adjoint',
        description: 'Sebastin Forge',
        icon: 'flat-color-icons:sales-performance',
      },
      {
        title: 'Secrétaire',
        description: 'Aurore Angleys',
        icon: 'flat-color-icons:planner',
      },
      {
        title: 'Secrétaire Adjointe',
        description: 'Charlotte Caquineau',
        icon: 'flat-color-icons:planner',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Trouver plus d'informations sur le blog"
    information={`Le blog est utilisé pour afficher toutes les informations.
                        Tout les futures evenements, les dates, les demandes d'aide pour le mise en place et la tenu de stand seront disponible ici
                `}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction>
    <Fragment slot="title">
      Restez informé<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
       des nouveautés et des événements
    </Fragment>

    <Fragment slot="subtitle">
      Inscrivez vous a la newsletter pour recevoir régulierement toutes les informations concernant l'APEL
    </Fragment>
  </CallToAction> -->
</Layout>
