---
import { SITE } from '~/utils/config';
import apel from '~/assets/images/apel.png';
import Image from '~/components/common/Image.astro';
---

<span>
  <Image src={apel} alt="App Store Image" width={50} />
</span>
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
